<p-table [columns]="cols" [value]="accounts" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>{{ rowData.accountNumber }}</td>
      <td>{{ rowData.balance }}</td>
      <td>
        <ul>
          <li *ngFor="let trans of rowData.transactions">{{ trans.operation }} {{trans.amount}}</li>
        </ul>
      </td>
      <td>
        <p-button label="deposit" styleClass="p-button-raised" (click)="navigateToDeposit(rowData.accountNumber)"></p-button>
        <p-button label="withdraw" styleClass="p-button-raised p-button-warning" (click)="navigateToWithdrawal(rowData.accountNumber)"></p-button>
      </td>
      <td>
        <p-button label="voir plus" ></p-button>
      </td>

    </tr>
  </ng-template>
</p-table>
